/* Coolors Exported Palette - https://coolors.co/2f6690-3a7ca5-d9dcd6-16425b-81c3d7 */

/* CSS HEX */
--baltic-blue: #2f6690ff;
--cerulean: #3a7ca5ff;
--alabaster-grey: #d9dcd6ff;
--yale-blue: #16425bff;
--sky-blue-light: #81c3d7ff;

/* CSS HSL */
--baltic-blue: hsla(206, 51%, 37%, 1);
--cerulean: hsla(203, 48%, 44%, 1);
--alabaster-grey: hsla(90, 8%, 85%, 1);
--yale-blue: hsla(202, 61%, 22%, 1);
--sky-blue-light: hsla(194, 52%, 67%, 1);

/* SCSS HEX */
$baltic-blue: #2f6690ff;
$cerulean: #3a7ca5ff;
$alabaster-grey: #d9dcd6ff;
$yale-blue: #16425bff;
$sky-blue-light: #81c3d7ff;

/* SCSS HSL */
$baltic-blue: hsla(206, 51%, 37%, 1);
$cerulean: hsla(203, 48%, 44%, 1);
$alabaster-grey: hsla(90, 8%, 85%, 1);
$yale-blue: hsla(202, 61%, 22%, 1);
$sky-blue-light: hsla(194, 52%, 67%, 1);

/* SCSS RGB */
$baltic-blue: rgba(47, 102, 144, 1);
$cerulean: rgba(58, 124, 165, 1);
$alabaster-grey: rgba(217, 220, 214, 1);
$yale-blue: rgba(22, 66, 91, 1);
$sky-blue-light: rgba(129, 195, 215, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #2f6690ff, #3a7ca5ff, #d9dcd6ff, #16425bff, #81c3d7ff);
$gradient-right: linear-gradient(90deg, #2f6690ff, #3a7ca5ff, #d9dcd6ff, #16425bff, #81c3d7ff);
$gradient-bottom: linear-gradient(180deg, #2f6690ff, #3a7ca5ff, #d9dcd6ff, #16425bff, #81c3d7ff);
$gradient-left: linear-gradient(270deg, #2f6690ff, #3a7ca5ff, #d9dcd6ff, #16425bff, #81c3d7ff);
$gradient-top-right: linear-gradient(45deg, #2f6690ff, #3a7ca5ff, #d9dcd6ff, #16425bff, #81c3d7ff);
$gradient-bottom-right: linear-gradient(135deg, #2f6690ff, #3a7ca5ff, #d9dcd6ff, #16425bff, #81c3d7ff);
$gradient-top-left: linear-gradient(225deg, #2f6690ff, #3a7ca5ff, #d9dcd6ff, #16425bff, #81c3d7ff);
$gradient-bottom-left: linear-gradient(315deg, #2f6690ff, #3a7ca5ff, #d9dcd6ff, #16425bff, #81c3d7ff);
$gradient-radial: radial-gradient(#2f6690ff, #3a7ca5ff, #d9dcd6ff, #16425bff, #81c3d7ff);